/** @format */

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	/* flex-grow: 1; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 992px;
}
.header {
	padding: 0.5rem;
	background-color: antiquewhite;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img {
	width: 3rem;
	height: auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	font-size: 115%;
}

.menu a {
	color: chocolate;
	padding: 0 1vw;
}

.menu a:hover {
	opacity: 0.75;
}

/* input [type="files"] {
} */

progress {
	margin-top: 1rem;
}

.drop-zone {
	margin-left: auto;
	margin-right: auto;
	border: thin dotted #000000;
	width: 80%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.drop-zone.is-active {
	border: thick dashed #000000;
	background-color: rgba(0, 128, 0, 0.5);
	animation: pulse 1.5s infinite;
	animation-timing-function: linear;
}
@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}
